@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');

body{
    background-color: antiquewhite;
}
header{
    text-align: center;
    border: tan dotted 20px;
    margin: 10px;
    border-radius: 53%;
    border-top: 0px;
    border-bottom-style: double;
}
main{
    padding: 10px;
    text-align: center;
}
footer{
    text-align: center;
    font-size: larger;
    border: rgb(202, 81, 81) solid 2px;
}
h1{
    font-size: xx-large;
    color: red;
}
#idWorkingHours{
    float: right;
}
img{
    /* float: left; */
    display: inline-block;
    margin: 0 auto;
}

nav ul li{
    display: inline-block;
    padding: 40px;
  
}
nav ul li:hover{
    background-image: url(https://freesvg.org/img/1453550378.png);
    background-size: 180px;
    background-repeat: no-repeat;
}

header a{
    font-family: 'Trade Winds', ;
    font-size: larger;
    text-decoration: none;
    text-align: center;
}
#main{
 text-align: left;   
}
div{
    margin: 20px;
    /* display: inline-block; */
    font-family: Arial, Helvetica, sans-serif;

}

table, th, td {
    border: 5px solid black;
    padding: 8px;
    margin: 2px;
    border-collapse: separate;
    border-style: double;
    empty-cells: hide;
  }
#idLocation{
    width: 50%;
    height: 40%; 
    margin: 2px auto;
}
#idFrame{
    width: 100%;
    height: 100%;
}
#idForms{
    display: block;
    width: 100%;
}
p {
    margin: 2%;
}
.noli{
    display: inline-block;
    padding: 1%;

}
#tableDiv{
    margin: 16px 6%;
}

.pop{
    color: wheat;
    position: absolute;
    right: 0px;
    /* animation-name: qwerty;
    animation-duration: 10s; */
}

/* @keyframes qwerty{
    from {
        right: 0px;
    }
    50%{
        right: 20px;
    }
    to{
        right: 30px;
    }
} */
